<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyB1fDaEJa3hVrtKtx3WYdzGXrrUzx5yRlc",
        authDomain: "all-the-errors.firebaseapp.com",
        databaseURL: "https://all-the-errors.firebaseio.com",
        projectId: "all-the-errors",
        storageBucket: "all-the-errors.appspot.com",
        messagingSenderId: "335184703332"
    };
    firebase.initializeApp(config);
    </script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="{% static 'js/dropdowns.js' %}" defer></script>
</html>