.row {
    text-align: center;
    width: 90%;
    height: 100%;
}

.thumbnail {
    max-width: 90%;
    max-height: 90%;
    object-fit: scale-down;
    padding: 10px 5px;
    margin: 0 auto;
}
.card.error-card {
    height: 50vh;
    margin: 10px;
}
.card.error-card.col.s3 {
    width: 24%;
}

.card-image {
    height: 85%;
    text-align: center;
}

.card .card-content {
    height: 10%;
    padding: 10px;
}

.text-with-icon {
    color: gray;
    display: inline-flex;
    vertical-align: sub;
}
    .material-icons.gray {
        color: gray;
    }