.row {
    text-align: center;
    width: 90%;
    height: 100%;
}

.text-with-icon {
    color: gray;
    display: inline-flex;
    vertical-align: sub;
}
    .material-icons.gray {
        color: gray;
    }

.xsmall-text {
    font-size: x-small;
}

.small-text {
    font-size: small;
}