{% extends 'errors/base.html' %}

{% block title %}Submit an Error{% endblock %}
{% block additionalStatic %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/add.css' %}">
<link rel="stylesheet" href="{% static 'errors/css/dragdrop.css' %}">
<script src="{% static 'js/modals.js' %}" defer></script>
<script src="{% static 'errors/js/add.js' %}" defer></script>
<script src="{% static 'errors/js/dragdrop.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="container">
    <form action="{% url 'main:create' %}" method="post" enctype="multipart/form-data" id="add-error-form">
        {% csrf_token %}
        <!-- HEADER -->
        <div class="row top-row">
            <h5>Log an Error</h5>
            <ul class="messages">
                <li class="red-text" id="error-text"></li>
            </ul>
        </div>
        <div class="row main-row">
            <!-- LEFT SIDE -->
            <div id="files" class="col s4">
                <p class="grey-text form-row-header">Upload Screenshots <a class="modal-trigger" href="#upload-modal"><i class="material-icons">info_outline</i></a></p>
                
                <div class="dragArea">
                    <h6>Drag & Drop File(s) Here</h6>
                    <!-- Provide option for manual upload? -->
                </div>
                <p class="xsmall-text">(Hover over image names to preview)</p>
                <div id="fileList">

                </div>
                <div class="bottom">
                    <button class="btn">Submit Error</button>
                </div>
            </div>
            <div class="col s1"></div>
            <!-- RIGHT SIDE -->
            <div class="col s7">
                <div class="input-field">
                    <label for="description">Describe your issue (optional)</label>
                    <textarea type="text" name="description" class="materialize-textarea desc"></textarea>
                    <p class="xsmall-text prompt-text">Consider: What was supposed to happen? What were you trying to do? What assignment were you working on?</p>
                </div>
                <p class="grey-text">Image Preview</p>
                <div class="resultImageWrapper">
                    <img src="" alt="" id="resultImage" />
                </div>
            </div>
        </div>
    </form>
</div>

<!-- MODAL -->
<!-- How to save screenshots -->
<div id="upload-modal" class="modal">
    <div class="modal-content">
        <h4>How Do I Save Screenshots?</h4>
        <h6>For Windows:</h6>
        <ol>
            <li>Have the error(s) displayed on your screen</li>
            <li>Type "snipping tool" in the search bar
                <ul>
                    <li><img src="{% static 'errors/images/searchbar.PNG' %}" alt="" style="width: 50%;"></li>
                </ul>
            </li>
            <li>In the Snipping Tool menu, click "New"</li>
            <li>Drag a box around the errors you want to submit</li>
            <li>If you don't like what was grabbed, just click "New" and start over. Otherwise, click "Save."</li>
        </ol>
        <h6>For Macs:</h6>
        <ol>
            <li>Have the error(s) displayed on your screen</li>
            <li>Press <kbd>Shift-Command-4</kbd></li>
            <li>Drag a box around the errors you want to submit</li>
            <li>The screenshot should now be saved as a .png file on your desktop</li>
        </ol>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Got it!</a>
    </div>
</div>

{% endblock %}