{% extends 'errors/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/imagescroll.css' %}">
<div class="row card-display">
    {% for e in all_errors %}
    <div class="card col s3 error-card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="thumbnail" src="{% static e.error_images.first.url %}">
        </div>
        <div class="card-content row text-with-icon">
            <span class="col s10">{{e.description | truncatechars:25}} </span><span class="col s2"><a href="{% url 'main:show' e.id %}"><i class="material-icons gray right">arrow_forward</i></a></span>
        </div>
    </div>
    {% endfor %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light teal" href="{% url 'main:add' %}"><i class="material-icons">add</i></a>
</div>
<script src="{% static 'errors/js/imagescroll.js' %}"></script>
{% endblock %}