{% extends 'errors/base.html' %}

{% block title %}Home{% endblock %}
{% block additionalStatic %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/home.css' %}">
<script src="{% static 'js/autocomplete.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="input-field col s12">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">filter by error</label>
    </div>
</div>
<div class="row card-display" id="errors">
    <!-- DISPLAY EACH CARD -->
    {% for e in all_errors %}
    <a href="{% url 'main:show' e.id %}">
    <div class="card col s3 error-card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="thumbnail" src="{{e.error_images.first.url}}" alt="{{e.error_images.first.url}}">
        </div>
        <div class="card-content row text-with-icon">
            <span class="col s10">{{e.description | truncatechars:20}} </span><span class="col s2"><i class="material-icons gray right">arrow_forward</i></span>
        </div>
    </div></a>
    {% endfor %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'main:add' %}"><i class="material-icons">add</i></a>
</div>

{% endblock %}