{% extends 'errors/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/imagescroll.css' %}">

<div class="container">
    <p>Submitted by: {{error.contributor}}</p>
    
    <div class="w3-content w3-display-container">
        {% for i in error.error_images.all %}
        <img class="mySlides" src="{% static i.url %}">
        {% endfor %}
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    </div>
    <p>{{error.description}}</p>
    
</div>
<script src="{% static 'errors/js/imagezoom.js' %}"></script>
<script src="{% static 'errors/js/imagescroll.js' %}"></script>

{% endblock %}
<div class="tile" data-scale="1.6" data-image="{% static i.url %}"></div>
