{% extends 'errors/base.html' %}

{% block title %}View{% endblock %}

{% block additionalStatic %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/one.css' %}">
<link rel="stylesheet" href="{% static 'errors/css/imagescroll.css' %}">
<script src="{% static 'js/modals.js' %}" defer></script>
<script src="{% static 'js/collapsibles.js' %}" defer></script>
<script src="{% static 'errors/js/imagescroll.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container row">
    <div class="col s9 w3-content w3-display-container">
        {% for i in error.error_images.all %}
        {# <!-- <img class="mySlides modal-trigger" href="#edit_image_modal" src="{% static i.url %}" onclick="prepareCanvas('{%static i.url %}')"> --> #}
        <img class="images" src="/{{i.url}}" alt="{{i.url}}">
        {% endfor %}
        {% if error.error_images.count > 1 %}
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
        {% endif %}
    </div>
    <div class="col s3 error-info">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">What was supposed to happen?</div>
                <div class="collapsible-body">
                    <span class="small-text">{{error.description}}</span>
                    <p class="xsmall-text">Submitted by: {{error.contributor}}</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">What's the error?</div>
                <div class="collapsible-body">
                    {% for k in error.keywords.all %}
                        <div class="chip">{{k.word}}</div>
                    {% endfor %}
                    <p><i class="material-icons modal-trigger pointer" id="add_keyword" href="#add_modal">add_box</i></p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">How can we fix it?</div>
                <div class="collapsible-body">
                    {% for s in error.error_suggestions.all %}
                    <p class="small-text">{{s.content}} (suggested by: {{s.suggestor.username}})</p>
                    {% endfor %}
                    <p><button class="btn modal-trigger" id="add_suggestion" href="#suggestion_modal">Make a suggestion</button></p>
                </div>
            </li>
        </ul>
    </div>
</div>    
    
<!-- MODALS -->
<div id="add_modal" class="modal">
    <div class="modal-content">
        <h4>Add a Keyword</h4>
        {% for key in other_keywords %}
        <form action="/add_keyword/{{error.id}}/{{key.id}}" method="POST">
            {% csrf_token %}
            <button class="waves-effect waves-light btn regular-case"><i class="material-icons right">add</i>{{key.word}}</button>
        </form>
        {% endfor %}
    </div>
</div>
    
<div id="suggestion_modal" class="modal">
    <div class="modal-content">
        <h4>Add a Suggestion</h4>
        <p></p>
        <p>Consider:</p>
            <ul class="small-text">
                <li>How would you describe the error in your own words?</li>
                <li>Where would you look first?</li>
                <li>What could you google?</li>
                <li>Do you have a helpful link to reference?</li>
                <li>How did you solve this?</li>
            </ul>
        <form action="/add_suggestion/{{error.id}}" method="POST">
            {% csrf_token %}
            <div class="input-field">
                <label for="">Your suggestion:</label>
                <textarea type="text" name="suggestion" class="materialize-textarea"></textarea>
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<!-- <div id="edit_image_modal" class="modal">
        <canvas id="image-canvas">
        </canvas>
    <form id="updateImageForm" enctype="multipart/form-data">
        <input type="hidden" name="">
        {% csrf_token %}
        <button class="btn">Save</button>
    </form>
</div> -->

{% endblock %}
<!-- <script src="{% static 'errors/js/imagezoom.js' %}" defer></script> -->
<!-- <div class="tile" data-scale="1.6" data-image="{% static i.url %}"></div> -->
