/* DRAG DROP BOX */
.dragArea {
    background-color: #efefef;
    border: 3px dashed #cccccc;
    border-radius: 10px;
    text-align: center;
    padding: 15%;
}
    .dragArea.over {
        border-color: #ff0000;
        background-color: #FFE9EA;
    }

/* IMAGE PREVIEW */
.resultImageWrapper {
    display: none;
    text-align: center;
}
#resultImage {
    box-shadow: rgba(0,0,0,0.4) 0 2px 5px;
}