.mySlides {
    display:none;
}

.container.row {
    margin: 10px;
}

.row {
    width: 98%;
}
.w3-display-container {
    position: relative;
    height: 85vh;
    margin: 0 auto;
    border: 1px solid lightgrey;
}

.w3-display-container img {
    margin: 0 auto;
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}

.w3-button {
    position: absolute;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    top: 50%;
}
.w3-display-left {
    left: 0%;
}

.w3-display-right {
    right: 0%;
}

.collapsible {
    margin-top: 0;
}

.collapsible-body {
    padding: 8px 0;
}