.container.row {
    margin: 10px;
    width: 98%;
}
    /* LEFT SIDE: IMAGES */
    /* see imagescroll.css */

    /* RIGHT SIDE: DETAILS */
    .collapsible {
        margin-top: 0;
    }
        .collapsible-body {
            padding: 8px 0;
        }
    
/* MODALS */
/* #edit_image_modal {
    width: 95%;
    height: 96vh;
    text-align: center;
}

#image-canvas {
    outline: 1px dotted blue;
    width: 90%;
    height: 90%;
} */